__pycache__
*.pyd
.idea/
/examples/test_Modelica_Electrical_Analog_Examples/Modelica.Electrical.Analog.Examples*
/examples/generate_tests/gen_tests*
build/
MoPyRegtest.egg-info/
/examples/test_user_defined_metrics/references/Sine_res_comparison.csv
/tests/data/FlawedModels/results
/tests/data/gentests