DymolaCommands.System.cd("PACKAGE_FOLDER");

DymolaCommands.SimulatorAPI.openModel("PACKAGE_FOLDER/package.mo");

DymolaCommands.System.cd("RESULT_FOLDER");

DymolaCommands.SimulatorAPI.translateModel(MODEL_IN_PACKAGE);

DymolaCommands.SimulatorAPI.simulateModel(problem=MODEL_IN_PACKAGE, resultFile="MODEL_IN_PACKAGE_res.csv");

